<div class="wrapper" >
  <mat-card class="example-card" [ngStyle]="{'background': 'rgba(240, 255, 255'}">
    <mat-card-header justify-content:center align-items:center>
      <mat-card-title>Formulario de añadir ropa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formularioForm">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">Tipo</label>
            <select class="form-control" formControlName="clothe">
              <option *ngFor="let clothe of clothes" [ngValue]="clothe">{{clothe}}</option>
            </select>
          </div>
        </div>
        &nbsp;
        &nbsp;
        <div class="form-group">
          <label for="exampleFormControlInput1">Talla</label>
          <input type="email" class="form-control" formControlName="talla" id="exampleFormControlInput1" placeholder="M">
        </div>
        &nbsp;
        &nbsp;
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Imagen</label>
          <label>
            <input
              type="file"
              class="text-nowrap text-truncate"
              (change)="selectFile($event)"
            />
          </label>
        </div>
        &nbsp;
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align:center" [ngStyle]="{'background': 'rgba(7, 231, 93, 0.712)'}">
      <button mat-button (click)="onCreate()" [disabled]="!selectedFiles">Subir para exponer</button>
    </mat-card-actions>
    <div *ngIf="currentFileUpload" class="progress mt-2">
      <div
        class="progress-bar progress-bar-info"
        role="progressbar"
        attr.aria-valuenow="{{ percentage }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: percentage + '%' }"
      >
        {{ percentage }}%
      </div>
    </div>
  </mat-card>
</div>
